body{
    color: #3182B5;
}
.font-user{
    font-size: 280px;
}
.page{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
.user .required{
   font-size: 20px;
    font-weight: bold;
}

.bg-detail{
    border: rgba(57, 155, 214, 0.55) 2px solid;
    color: #3182B5;
    border-radius: 30px;
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
.w-30{
    width: 50% !important;
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(135,123,127, 0.5);
    top: 0;
    z-index: 1050;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3em;
    animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body {
    display : table;
    width: 100%;
}
footer {
    display : table-row;
    height: 100px; /* à titre d'exemple */
    background-color: #3182B5;
    margin-top: 25px;
}

.bgBleu{
    background-color: #3182B5;
}