{%  extends('base.html.twig') %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="title">Accueil</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel dui at augue placerat scelerisque. Nunc interdum nisi urna, non facilisis nisl venenatis eget. Mauris nec porttitor nunc, vel pretium tellus. Integer porta leo quis ipsum interdum accumsan. Nam pulvinar velit dui, ut tempus mauris sagittis vel. Vivamus aliquam arcu in dignissim euismod. Morbi maximus, mauris eleifend pretium condimentum, ipsum velit elementum urna, eu interdum eros metus in massa. Donec eget lobortis ante, vitae placerat lorem. Pellentesque justo leo, porttitor eu ornare sed, placerat non purus. Aenean vestibulum est mauris, vel iaculis tellus vestibulum sit amet. Pellentesque sollicitudin rutrum tellus, nec scelerisque leo varius ac. Curabitur finibus gravida arcu a ornare.
    </p>
    <p>
        Suspendisse vitae mauris sit amet mi sagittis venenatis. In quis ipsum aliquet, vulputate odio a, porta mi. Fusce vel ligula pulvinar, convallis leo ac, suscipit augue. Nulla facilisi. Curabitur pellentesque placerat tellus, sed euismod nunc elementum mattis. Maecenas placerat auctor diam a auctor. Fusce magna lacus, ultrices a orci et, imperdiet lobortis nibh.
    </p>
    <p>
        Mauris pretium nisl at odio hendrerit efficitur. Curabitur euismod nisl sit amet ornare laoreet. Praesent volutpat sed risus quis mollis. Quisque rutrum odio non lacus varius, a varius sem sollicitudin. Fusce pulvinar lectus arcu, ut scelerisque tellus tristique in. Sed quis nisl et nisl rhoncus hendrerit sit amet sed mauris. Suspendisse congue bibendum tortor nec gravida. Fusce ac sagittis ipsum, in condimentum risus. Duis suscipit magna id purus laoreet commodo. Praesent auctor ut turpis quis maximus. Nunc id sodales risus. Duis ac arcu ac metus consectetur interdum finibus in magna. Integer in metus erat. Ut ultrices nibh in nulla hendrerit, quis tempor ante tincidunt. Aenean nec ornare ipsum.
    </p>
    <p>
        Donec ornare et dolor nec ullamcorper. Aenean enim dui, molestie quis aliquam quis, fringilla in nisi. Vestibulum mollis et ligula a interdum. Nam aliquam erat efficitur hendrerit pharetra. Praesent tincidunt cursus ipsum, sit amet auctor elit euismod vitae. Donec vehicula turpis id efficitur congue. Nulla eleifend varius lorem vel lobortis. Nunc facilisis eros a tortor porttitor fringilla. Donec condimentum purus arcu, vel eleifend quam dapibus eleifend. Sed cursus sagittis neque eu eleifend. Proin in sem ac sapien finibus eleifend tincidunt nec nunc. Nullam maximus molestie congue. Nunc tincidunt egestas nibh.
    </p>
    <p>
        Sed consequat maximus dictum. Integer vel aliquet magna, sed gravida sem. Aenean a rhoncus est. Fusce vel erat at nisi lacinia pharetra. Vestibulum eleifend vulputate nisl, et viverra lectus volutpat eu. Vivamus egestas sem et quam iaculis posuere. In pretium eros non massa pretium vehicula. Integer vitae sem at urna lobortis egestas. Etiam quis varius nunc, sit amet laoreet dolor.
    </p>
{% endblock %}
