{% extends 'base.html.twig' %}

{% block title %}{{ "error.title"|trans({"%status%" : status_code}) }} {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">
        {{ "error.title"|trans({"%status%" : status_code})|upper }} : {{ "error.500.text"|trans|upper }}
    </h1>
    <div class="row">
        <div class="col-md m-0 p-0">
            <div class="tenor-gif-embed" data-postid="6118939" data-share-method="host" data-width="100%" data-aspect-ratio="1.3333333333333333"><a href="https://tenor.com/view/nuclear-explosion-gif-6118939">Nuclear Explosion GIF</a></div>
            <div class="tenor-gif-embed" data-postid="5343086" data-share-method="host" data-width="100%" data-aspect-ratio="1.4930555555555556"><a href="https://tenor.com/view/fail-basketball-life-gif-5343086">Fail Basketball GIF</a></div>
            <div class="tenor-gif-embed" data-postid="3464979" data-share-method="host" data-width="100%" data-aspect-ratio="1.7793594306049825"><a href="https://tenor.com/view/south-park-cartman-money-swimming-in-money-rich-gif-3464979">Smb GIF</a></div>
        </div>
        <div class="col-md m-0 p-0">
            <div class="tenor-gif-embed" data-postid="13576380" data-share-method="host" data-width="100%" data-aspect-ratio="1.7913669064748199"><a href="https://tenor.com/view/pool-house-falling-intro-horseman-gif-13576380">Pool House GIF</a></div>
            <div class="tenor-gif-embed" data-postid="4601461" data-share-method="host" data-width="100%" data-aspect-ratio="1.3764044943820224"><a href="https://tenor.com/view/fail-gif-4601461">When You Try Your Best But You Don't Succeed... GIF</a></div>
            <div class="tenor-gif-embed" data-postid="4704125" data-share-method="host" data-width="100%" data-aspect-ratio="1.4646464646464648"><a href="https://tenor.com/view/drown-sinking-giveup-sink-bye-gif-4704125">Drown Sinking GIF</a></div>
         </div>
        <div class="col-md m-0 p-0">
            <div class="tenor-gif-embed" data-postid="15354063" data-share-method="host" data-width="100%" data-aspect-ratio="1.7785714285714287"><a href="https://tenor.com/view/noob-olydri-aaaah-gif-15354063">Noob Olydri GIF</a></div>
            <div class="tenor-gif-embed" data-postid="5012733" data-share-method="host" data-width="100%" data-aspect-ratio="1.3315508021390374"><a href="https://tenor.com/view/error-angry-rage-gif-5012733">Frustrated GIF</a></div>
            <div class="tenor-gif-embed" data-postid="4652931" data-share-method="host" data-width="100%" data-aspect-ratio="1.2244897959183674"><a href="https://tenor.com/view/no-theoffice-stevecarrell-michaelscott-gif-4652931">No GIF</a></div>
        </div>
        <div class="col-md m-0 p-0">
            <div class="tenor-gif-embed" data-postid="7393296" data-share-method="host" data-width="100%" data-aspect-ratio="1.3111111111111111"><a href="https://tenor.com/view/morty-rick-and-morty-morty-wave-weird-gif-7393296">Morty Rick And Morty GIF</a></div>
            <div class="tenor-gif-embed" data-postid="11620938" data-share-method="host" data-width="100%" data-aspect-ratio="1.3174603174603174"><a href="https://tenor.com/view/wait-error-mad-gif-11620938">Wait Error GIF</a></div>
            <div class="tenor-gif-embed" data-postid="5515909" data-share-method="host" data-width="100%" data-aspect-ratio="1.6666666666666667"><a href="https://tenor.com/view/nope-no-gif-5515909">Nope GIF</a></div>
       </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <script>
        $(document).ready(function () {
            $('#loader404').removeClass("d-none");
        })
    </script>
{% endblock %}