<nav class="mb-5">
    <div class="container">
        <a href="#" class="title pr-2">Sortie.com</a>
        <a href="{{ path("security_logout") }}" class="menu p-2  float-right">Se déconnecter</a>
        <a href="#" class="menu p-2  float-right">Mon profil</a>
        <a href="#" class="menu p-2  float-right">Accueil</a>
        <a href="#" class="menu p-2  float-right">Sites</a>
        <a href="#" class="menu p-2  float-right">Villes</a>
    </div>
</nav>